*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.header {
    background: #FFF8F3;
}

/* Navigation Style */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text{
    color: #FD6E0A;
    font-weight: 800;
    font-size: 45px;
}
.text2{
    color: #FD6E0A;
    font-weight: 600;
    font-size: 22px;
}
nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.primary-btn{
    font-weight: 700px;
    padding: 14px 25px;
    background: #e8803b;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    text-align: center;
}
.primary-btn:hover{
    background: #d85c09;
}
nav ul li{
    padding-left: 20px;
}

/* Banner Style */
.banner{
    display: flex;
    justify-content: space-between;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}
.banner-welcome{
    font-weight: 600;
    font-size: 45px;
}
.banner-name{
    font-weight: 700;
    font-size: 65px;
}
.banner-description{
   width: 30%;
   padding-left: 150px;
   padding-top: 70px;
}
.banner-img{
    height: 500px;
}

.banner-btn1{
    display: inline;
    margin-right: 30px;
    background-color: #f87619;
}

.banner-btn2{
    background-color: rgba(171, 165, 165, 0.695);
    color: black;
    display: inline;
    margin-top: 30px;
    margin-right: 30px;
}
.banner-btn1:hover{
    background: #d85c09;
}
.banner-btn2:hover{
    background-color: rgba(118, 117, 117, 0.695);
}

/* Main */

main{
    background: #FFF8F3;
    max-width: 1140px;
    margin:130px 230px;
}
.main{
    padding: 130px 160px;
}

.main-title{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
}
.contact-info{
    display:flex;
    justify-content: space-around;
    margin-top: 55px;
}
.inside-contact{
    text-align: center;   
}
.details{
    font-size: 23px;
    font-weight: 700;
}

/* What i do section */
.what-i-do{
    max-width: 1140px;
    margin:130px 230px;
}
.skills{
    display:flex;
    justify-content: space-between;
    padding: 0 180px;
}
.skills-des{
    background-color: #e8e6dfd8;
    padding: 30px;
    margin:auto;
    width: 100px;
    box-shadow: 5px 5px 8px rgb(203, 203, 202);
}

.what-i-do-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}
.what-i-do-des{
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
}
.resume{
    max-width: 1140px;
    margin:130px 230px;
}
.resume-title{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px;
}
.resume-section{
    display: flex;
    justify-content: center;
}
.edu-title{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}
.exp-title{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}
.edu-details{
    font-weight: 700;
    font-size: 23px;
}
.edu-details-more{
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 15px;
}
.resume-paragraph{
    text-align: justify;
}

/* Footer section */
.footer{
    background: #FFF8F3;
    padding:130px 230px;
    display:flex;
}
.footer-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 15px;
}
.connect{
    margin-right: 10px;
}
